<!DOCTYPE html>
<html>

<head>

<title>ImpressAR Interview Trainer</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{
background:#111;
color:white;
font-family:Arial;
text-align:center;
}

video{
border:3px solid #00ffcc;
border-radius:10px;
margin-top:20px;
}

button{
padding:12px 20px;
margin:10px;
font-size:16px;
cursor:pointer;
}

#question{
font-size:22px;
color:#00ffcc;
margin-top:20px;
}

#timer{
font-size:28px;
}

canvas{
margin-top:30px;
}

</style>

</head>


<body>

<h1>ImpressAR Interview Practice</h1>

<button onclick="startInterview()">Start Interview</button>
<button onclick="nextQuestion()">Next Question</button>
<button onclick="finishInterview()">Finish Interview</button>

<h2 id="question"></h2>
<h2 id="timer"></h2>

<video id="video" width="640" height="480" autoplay playsinline></video>

<canvas id="hidden" style="display:none;"></canvas>

<p id="feedback"></p>
<h2 id="score"></h2>

<h2 id="report"></h2>

<canvas id="chart" width="600" height="300"></canvas>

<script>

let questions=[]
let qIndex=0
let timeLeft=180
let interviewActive=false

const video=document.getElementById("video")
const canvas=document.getElementById("hidden")
const ctx=canvas.getContext("2d")

const feedback=document.getElementById("feedback")
const scoreText=document.getElementById("score")
const questionText=document.getElementById("question")
const timerText=document.getElementById("timer")

navigator.mediaDevices.getUserMedia({video:true})
.then(stream=>{video.srcObject=stream})


function startInterview(){

fetch("/questions")

.then(r=>r.json())

.then(data=>{

questions=data.questions
qIndex=0

questionText.innerText=questions[qIndex]

})

interviewActive=true
timeLeft=180

const timer=setInterval(()=>{

if(!interviewActive) return

if(timeLeft<=0){

clearInterval(timer)
finishInterview()
return

}

timerText.innerText="Time Left: "+timeLeft+"s"
timeLeft--

},1000)

}


function nextQuestion(){

if(qIndex < questions.length-1){

qIndex++

questionText.innerText=questions[qIndex]

}

}


function finishInterview(){

interviewActive=false

fetch("/report")

.then(r=>r.json())

.then(data=>{

document.getElementById("report").innerText=
"Average Confidence Score: "+data.average_score

drawChart(data.trend)

})

}


function drawChart(scores){

const ctx=document.getElementById("chart")

new Chart(ctx,{

type:"line",

data:{
labels:scores.map((_,i)=>i+1),
datasets:[{
label:"Confidence Trend",
data:scores
}]
}

})

}


setInterval(()=>{

if(!video.videoWidth) return
if(!interviewActive) return

canvas.width=video.videoWidth
canvas.height=video.videoHeight

ctx.drawImage(video,0,0)

const image=canvas.toDataURL("image/jpeg")

fetch("/analyze",{

method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({image:image})

})

.then(r=>r.json())

.then(data=>{

feedback.innerText=data.feedback
scoreText.innerText="Score: "+data.score+"/100"

})

},800)

</script>

</body>

</html>