<!DOCTYPE html>
<html>

<head>

<title>Interview</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="interview-container">

<!-- CAMERA -->
<div class="camera-box">

<video id="video" autoplay playsinline></video>

</div>

<!-- PANEL -->
<div class="panel">

<h2 id="question">Press Start Interview</h2>

<p id="timer">180</p>

<div class="circle" id="scoreCircle">70</div>

<p id="postureStatus">Posture: --</p>
<p id="eyeStatus">Eye: --</p>
<p id="fidgetStatus">Fidget: --</p>

<button onclick="startInterview()">Start</button>
<button onclick="nextQuestion()">Next</button>
<button onclick="finishInterview()">Finish</button>

</div>

</div>

<canvas id="hidden" style="display:none;"></canvas>

<script src="/static/script.js"></script>

</body>

</html>