<!DOCTYPE html>
<html>

<head>
<title>ImpressAR Login</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="center-card">

<h1>ImpressAR</h1>

<p>AI Powered Interview Trainer</p>

<form action="/home">

<input type="text" placeholder="Your Name" required>

<input type="email" placeholder="Email" required>

<select>
<option>Student</option>
<option>Fresher</option>
<option>Professional</option>
</select>

<button type="submit">Start Training</button>

</form>

</div>

</body>
</html>